.card {
	border-radius: 20px;
}

.inline {
	display: flex;
	align-items: center; /* vertically aligns the items to the center */
	justify-content: flex-start; /* aligns the items to the start horizontally, you can change this as needed */
}

.btn-img {
	margin-left: 10px;
	width: 21px;
	height: 21px;
}

.btn-img_small {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.card-header {
	border-radius: 20px 20px 0px 0px;
}

.string {
	color: #609B60;
	background-color: #ECF4EC;
	border-color: #ECF4EC;
}

.integer {
	color: #609B99;
	background-color: #E2F4F5;
	border-color: #E2F4F5;
}

.float {
	color: #E66256;
	background-color: #FFF3F1;
	border-color: #FFF3F1;
}

.boolean {
	color: #4C4571;
	background-color: #EEECF4;
	border-color: #EEECF4;
}
