.card {
	color: #000;
	border-color: #fff;
	border-radius: 20px;
}

.btn-img {
	margin-left: 10px;
	width: 22px;
	height: 22px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.inline {
	display: flex;
	align-items: center; /* vertically aligns the items to the center */
	justify-content: flex-start; /* aligns the items to the start horizontally, you can change this as needed */
}

.card-header {
	border-radius: 20px 20px 0px 0px;
}
