<div>
	<a>Pin: @BoardPin.Id</a>
	<p>@Enum.GetName(typeof(PortPin.PinMode), BoardPin.Mode) Mode</p>
	<p>Value: "@BoardPin.GetValueString()"</p>
</div>

@code {
	[Parameter]
	public PortPin BoardPin { get; set; } = new();
}
