<div>
	<a>Pin: @BoardPin.Id</a>
	<p>@Enum.GetName(typeof(BoardPin.PinMode), BoardPin.Mode)</p>
	<p>Value: "@BoardPin.GetValueString()"</p>
</div>

@code {
	[Parameter]
	public BoardPin BoardPin { get; set; } = new();
}
