body {
	overflow-x: hidden;
}

button {
	background-color: #354047;
	border-color: #354047;
}

.navbar {
	padding-left: 0.5rem;
}

.sidebar {
    height: 100%;
    overflow-y: auto;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    border-radius: 0;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -17.5rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

	#sidebar-wrapper .sidebar-heading {
		padding: 0.875rem 1.25rem;
		font-size: 1.2rem;
	}

	#sidebar-wrapper .list-group {
		width: 15rem;
	}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

.button-transparent {
	border: none;
	background-color: rgba(0,0,0,0);
}

.button-img {
	margin-right: 5px;
	width: 25px;
	height: 25px;
}

.inline {
	display: flex;
	align-items: center; /* vertically aligns the items to the center */
	justify-content: flex-start; /* aligns the items to the start horizontally, you can change this as needed */
}

.bg-arduinolist {
	background-color: #08151D;
}

.activity-img {
	margin-right: 10px;
	width: 15px;
	height: 15px;
}

.card {
	background-color: #08151D;
	border-radius: 10px;
}

.card-body {
	color: #fff !important;
}

.idle:hover {
	background-color: #17232A;
}

.active {
	background-color: #202C34;
}

.round-btn-img {
	width: 25px;
	height: 25px;
}

.round-button {
	border-radius: 30px;
}


@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -17.5rem;
	}
}

