.link-state {
	padding-left: 56px;
	padding-right: 56px;
}

.card {
	color: #FFF8CA;
	border-radius: 30px;
}

.impossible {
	border-color: #FF0000;
	background-color: #FF0000;
}

.partial {
	border-color: #FFCC00;
	background-color: #FFCC00;
}

.possible {
	border-color: #699755;
	background-color: #699755;
}

.main-card {
	border-radius: 20px;
	color: #000;
	border-color: #E8E8E8;
	background-color: #E8E8E8;
}

input {
	color: #fff;
	background-color: #08151D;
	border-color: #08151D;
	border-radius: 10px;
}

	input:focus {
		color: #fff;
		background-color: #08151D;
		border-color: #08151D;
		border-radius: 10px;
	}