.card {
	color: #fff;
}

.main-card {
	border-radius: 20px;
	background-color: #08151D;
	border-color: #08151D;
}

.secondary-card {
	border-radius: 10px;
	background-color: #202C34;
	border-color: #202C34;
}

.inline {
	display: flex;
	align-items: center; /* vertically aligns the items to the center */
	justify-content: flex-start; /* aligns the items to the start horizontally, you can change this as needed */
}

.btn-img {
	cursor: pointer;
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.card-header {
	border-radius: 10px 10px 0px 0px;
}

.round-btn-img {
	width: 25px;
	height: 25px;
}

.round-button {
	border-radius: 30px;
}

.gray-txt {
	color: #A6ABAE;
}
