@inject IJSRuntime JsRuntime
@inject WindowDimension WindowsDimension

@if (dataLinks.Count > 0)
{
	<div class="row gutters-sm mt-3" role="list" style="margin-left: @Margin !important; margin-right: @Margin !important;">
		@for (int cols = 0; cols < Columns; cols++)
		{
			<div class="@ColumnClass column">
				@for (int rows = 0; rows < Rows; rows++)
				{
					int index = rows * Columns + cols;
					if (index >= dataLinks.Count)
						continue;

					<DataLinkElement DataLink="dataLinks[index]"></DataLinkElement>
				}
			</div>
		}
	</div>
}
else
{
	<div class="inline" style="margin-top: 14%">
		<img src="img/sticker/nothing.png" />
	</div>
}

@code {
	[Parameter]
	public List<DataLink> DataLinks { get; set; } = new();

	[Parameter]
	public string WrapperState { get; set; } = String.Empty;

	[Parameter]
	public double WebWidth { get; set; } = 1980;

	private List<DataLink> dataLinks = new();

	private int Columns = 3;
	private int Rows = 0;

	private string ColumnClass = "col-md-4";
	private string Margin = "0px";

	public void CreateTable()
	{
		int elementsDivided = dataLinks.Count / Columns;
		Rows = dataLinks.Count % Columns == 0 ? elementsDivided : elementsDivided + 1;
	}

	private void GetListOfDataLinks()
	{
		dataLinks = new();
		foreach (DataLink dataLink in DataLinks)
		{
			if (dataLink.BoardId != default)
			{
				dataLinks.Add(dataLink);
			}
		}
	}

	private void GetListDimmensions()
	{
		if (WrapperState == "toggled")
		{
			if (WebWidth < 890)
			{
				ColumnClass = "col-md-12";
				Columns = 1;
				Margin = $"{(int)(WebWidth - 440 * Columns) / 2}px";
			}
			else if (WebWidth < 1310)
			{
				ColumnClass = "col-md-6";
				Columns = 2;
				Margin = $"{(int)(WebWidth - 440 * Columns) / 2}px";
			}
			else if (WebWidth < 1735)
			{
				ColumnClass = "col-md-4";
				Columns = 3;
				Margin = $"{(int)(WebWidth - 430 * Columns) / 2}px";
			}
			else
			{
				ColumnClass = "col-md-3";
				Columns = 4;
				Margin = $"{(int)(WebWidth - 430 * Columns) / 2}px";
			}
		}
		else
		{
			if (WebWidth < 765)
			{
				ColumnClass = "col-md-12";
				Columns = 1;
				Margin = $"{(int)(WebWidth - 445) / 2}px";
			}
			else if (WebWidth < 1130)
			{
				ColumnClass = "col-md-12";
				Columns = 1;
				Margin = $"{(int)(WebWidth - 200 - 500 * Columns) / 2}px";
			}
			else if (WebWidth < 1580)
			{
				ColumnClass = "col-md-6";
				Columns = 2;
				Margin = $"{(int)(WebWidth - 580 * Columns) / 2}px";
			}
			else
			{
				ColumnClass = "col-md-4";
				Columns = 3;
				Margin = $"{(int)(WebWidth - 525 * Columns) / 2}px";
			}
		}
	}

	protected override async Task OnParametersSetAsync()
	{
		GetListOfDataLinks();
		GetListDimmensions();
		CreateTable();
		StateHasChanged();
	}
}
