.card {
	border-radius: 10px;
}

.inline {
	display: flex;
	align-items: center; /* vertically aligns the items to the center */
	justify-content: flex-start; /* aligns the items to the start horizontally, you can change this as needed */
}

.btn-img {
	cursor: pointer;
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.card-header {
	border-radius: 10px 10px 0px 0px;
}

.string {
	color: #609B60;
	background-color: #ECF4EC;
	border-color: #ECF4EC;
}

.integer {
	color: #609B99;
	background-color: #E2F4F5;
	border-color: #E2F4F5;
}

.float {
	color: #E66256;
	background-color: #FFF3F1;
	border-color: #FFF3F1;
}

.boolean {
	color: #4C4571;
	background-color: #EEECF4;
	border-color: #EEECF4;
}

.round-btn-img {
	width: 15px;
	height: 15px;
}

.round-button {
	border-radius: 30px;
}

.button-string {
	background-color: #CFF4D0;
	border-color: #CFF4D0;
}

.button-integer {
	background-color: #C0EDED;
	border-color: #C0EDED;
}

.button-float {
	background-color: #FFCECE;
	border-color: #FFCECE;
}

.button-boolean {
	background-color: #CECEF4;
	border-color: #CECEF4;
}
