.card {
	color: #000;
}

.column {
	transition: all 0.3s ease-out;
}

.image-list {
	display: flex;
	flex-wrap: wrap;
}

.image-container {
	width: calc(33.33% - 20px);
	margin: 10px;
}

.img {
	display: block;
	margin-top: 10px;
}

.inline {
	display: flex;
	align-items: center;
	justify-content: center;
}
